
/* --- main -------------------------------------------- */
body {
	margin: 0px;
	padding: 0px;
	background: url(../img/f-red.jpg) no-repeat top fixed;
	background-size: cover;
}
.main {
	margin: 8px auto 0;
	width: 600px;
	// height: 790px;
	background-color: #ffffff;
}
.g-bold {
	font-weight: bold;
}
.g-title {
	text-align: center;
}
.g-italic {
	font-style: italic;
}

/* --- content ----------------------------------------- */
.content {
	text-align: center;
	padding-bottom: 20px;
}
.content__title {
	color: #ffa500;
	font-size: 30pt;
}
.t-conf {
	width: 286px;
	height: 112px;
	margin: 0 auto;
	border-collapse: collapse;
	position: relative;
	// background-color: #eee;

}
// tr:not(:last-child)
.t-conf__line {
	border-bottom: 1px solid green;
	background-color: green;
	display: block;
}

.t-conf__header {
	background-color: #803434;
	color: #fff;

}
.content__table-wrap {
	border: 2px solid #b92b00;
	width: 286px; width: max-content;
	margin: 0 auto;
	padding: 2px;
}

.t-conf tr:not(.t-conf__header):hover{
	background-color: rgba(51, 51, 51, 0.2);

}

.t-conf tr:after{
	content: '';
	position: absolute;
	border: 13px solid transparent;
	border-left: 13px solid #333;
	margin-top: 1px;
	margin-left: 2px;
	visibility: hidden;
}
.t-conf tr:before{
	content: '';
	position: absolute;
	border: 13px solid transparent;
	margin-left: -28px;
	border-right: 13px solid #333;

	visibility: hidden;
}

.t-conf tr:not(.t-conf__header):hover::after,
.t-conf tr:not(.t-conf__header):hover::before,
.t-conf tr:not(.t-conf__header):focus::after,
.t-conf tr:not(.t-conf__header):focus::before {
	visibility: visible;
}
.t-conf tr:not(.t-conf__header):focus{
    color: #000;
    background-color: #ffd4d4;
}

.t-conf .t-conf__name{
	color: #ff7800;
	text-decoration: none;
}
.t-conf .t-conf__name:active{
	margin-top: 1px;
}


/* --- footer ------------------------------------------ */
.footer {
	height: 70px;
	margin-bottom: 500px;

}
.footer__soc-title {
	font-size: 15pt;
	margin-bottom: 10px;
}
.soc-link {
	width: 194px; /*fix +2px для IE*/
	margin: 0 auto;
	padding: 0 0 0 2px; /*fix для IE*/
}
.soc-link a {
	color: #008000;
	display: block;
}
.soc-link li {
	float: left;
	list-style: none;
	margin-right: 4px;
}
.soc-link li:last-child {
	margin-right: 0;
}
.soc-link a:hover {
	color: #ffa500;
	margin-top: 1px;
}
.soc-link a:active {
	color: #b33030;
}
.soc-link a:visited {
	color: #f44336;
}

/* additional */
.additional {

	display: none;
	background-color: #fff2e1;
	width: 480px;
	margin: 0 auto;
	padding: 10px;
}
.additional__title {
	text-align: center;
}
.additional__cnt {
	text-align: center;
}


