
/* --- main -------------------------------------------- */
body {
	margin: 0px;
	padding: 0px;
	background: url(../img/f-red.jpg) no-repeat top fixed;
	background-size: cover;
}
.main {
	margin: 8px auto 0;
	width: 600px;
	background-color: #ffffff;
	position: relative;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.g-bold {
	font-weight: bold;
}
.g-title {
	text-align: center;
}
.g-italic {
	font-style: italic;
}

/* --- content ----------------------------------------- */
.content {
	text-align: center;
	padding-bottom: 20px;
}

.content__title {
	color: #ffa500;
	font-size: 30pt;
}

.t-conf {
	width: 286px;
	height: 112px;
	margin: 0 auto;
	border-collapse: collapse;
	position: relative;
	background-color: #eee;
}

.t-conf tr:not(:last-child) {
	border-bottom: 1px solid #803434;
}
.t-conf tr:nth-child(2) {
	border-top: 2px solid #ffffff;
}

.t-conf__header {
	background-color: #803434;
	color: #fff;

}
.content__table-wrap {
	border: 2px solid #b92b00;
	width: 286px; width: max-content;
	margin: 0 auto;
	padding: 2px;
	box-shadow: 0 0 10px rgba(255, 59, 0, 0.5);
}

.t-conf tr:not(.t-conf__header):hover{
	background-color: rgba(51, 51, 51, 0.2);

}

.t-conf tr:after{
	content: '';
	position: absolute;
	border: 13px solid transparent;
	border-left: 13px solid #333;
	margin-top: 1px;
	margin-left: 2px;
	visibility: hidden;
}
.t-conf tr:before{
	content: '';
	position: absolute;
	border: 13px solid transparent;
	margin-left: -28px;
	border-right: 13px solid #333;
	visibility: hidden;
}
.t-conf tr:not(.t-conf__header):hover::after,
.t-conf tr:not(.t-conf__header):hover::before,
.t-conf tr:not(.t-conf__header):focus::after,
.t-conf tr:not(.t-conf__header):focus::before {
	visibility: visible;
}
.t-conf tr:not(.t-conf__header):focus{
    color: #000;
    background-color: #ffd4d4;
}

.t-conf .t-conf__name{
	color: #ff7800;
	text-decoration: none;
}
.t-conf .t-conf__name:hover {
	color: #d40000;

}
.t-conf .t-conf__name:active {
	text-decoration: underline;
}


/* --- footer ------------------------------------------ */
.footer {
	height: 70px;
	margin-bottom: 500px;

}
.footer__soc-title {
	font-size: 15pt;
	margin-bottom: 10px;
}
.soc-link {
	width: 194px; /*fix +2px для IE*/
	margin: 0 auto;
	padding: 0 0 0 2px; /*fix для IE*/
}
.soc-link a {
	color: #008000;
	display: block;
}
.soc-link li {
	float: left;
	list-style: none;
	margin-right: 4px;
}
.soc-link li:last-child {
	margin-right: 0;
}
.soc-link a:hover {
	color: #ffa500;
}
.soc-link a:active {
	color: #b33030;
}
.soc-link a:visited {
	color: #f44336;
}

/* --- additional -------------------------------------- */
.additional {
	position: absolute;
	background-color: #fff2e1;
	width: 100%;
	margin: 500px auto 500px;
	padding: 10px;
	box-shadow: 0 0 100px rgba(255, 255, 255, 1);
}
.additional__title {
	text-align: center;
}
.additional__cnt {
	text-align: center;
	position: relative;
}
.additional__cnt-btn {
	position: absolute;
	top: -70px;
	right: 0;
}

/* --- tab --------------------------------------------- */
.tab {}

.abs-nav {
  margin: 0 0 10px 0;
}
.abs-link {
	margin: 1px;
	color: #333333;
	background-color: #ff990040;
	border-radius: 3px;
	padding: 2px;
	text-decoration: none;
}
.abs-link:hover {
	background-color: #ff8d00;
	color: #fff;
}
.block {
  display: none;
}

#one {
  display: block;
}
div:target {
  display: block;
}
div[id*=three]:target {
  display: block;
}
div[id*=three]:target ~ #three {
  display: block;
}
div[id*=t]:target ~ #one {
  display: none;
}