
/* --- main -------------------------------------------- */
body {
	margin: 0px;
	padding: 0px;
	background-color: #79483a;
	background: url(../img/f-red.jpg) no-repeat top fixed;
	background-size: cover;
}
.main {
	margin: 8px auto 0;
	width: 600px;
	background-color: #ffffff;
	position: relative;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}
.g-bold {
	font-weight: bold;
}
.g-title {
	text-align: center;
}
.g-italic {
	font-style: italic;
}

/* --- content ----------------------------------------- */
.content {
	text-align: center;
	padding-bottom: 20px;
}

.content__title {
	color: #ffa500;
	font-size: 40px;
}

.t-conf {
	width: 286px;
	height: 112px;
	margin: 0 auto;
	border-collapse: collapse;
	position: relative;
	background-color: #eee;
}

.t-conf tr:not(:last-child) {
	border-bottom: 1px solid #803434;
}
.t-conf tr:nth-child(2) {
	border-top: 2px solid #ffffff;
}

.t-conf__header {
	background-color: #803434;
	color: #fff;

}
.content__table-wrap {
	border: 2px solid #b92b00;
	width: 286px; width: max-content;
	margin: 0 auto;
	padding: 2px;
	box-shadow: 0 0 10px rgba(255, 59, 0, 0.5);
}

.t-conf tr:not(.t-conf__header):hover{
	background-color: rgba(51, 51, 51, 0.2);

}

.t-conf tr:after{
	content: '';
	position: absolute;
	border: 13px solid transparent;
	border-left: 13px solid #333;
	margin-top: 1px;
	margin-left: 2px;
	visibility: hidden;
}
.t-conf tr:before{
	content: '';
	position: absolute;
	border: 13px solid transparent;
	margin-left: -28px;
	border-right: 13px solid #333;
	visibility: hidden;
}
.t-conf tr:not(.t-conf__header):hover::after,
.t-conf tr:not(.t-conf__header):hover::before,
.t-conf tr:not(.t-conf__header):focus::after,
.t-conf tr:not(.t-conf__header):focus::before {
	visibility: visible;
}
.t-conf tr:not(.t-conf__header):focus{
    color: #000;
    background-color: #ffd4d4;
}

.t-conf .t-conf__name{
	color: #ff7800;
	text-decoration: none;
}
.t-conf .t-conf__name:hover {
	color: #d40000;

}
.t-conf .t-conf__name:active {
	text-decoration: underline;
}


/* --- footer ------------------------------------------ */
.footer {
	height: 70px;
}
.soc__title {
	font-size: 20px;
	margin-bottom: 10px;
}
.soc__link {
	width: 194px; /*fix +2px для IE*/
	margin: 0 auto;
	padding: 0 0 0 2px; /*fix для IE*/
}
.soc__link a {
	color: #008000;
	display: block;
}
.soc__link li {
	float: left;
	list-style: none;
	margin-right: 4px;
}
.soc__link li:last-child {
	margin-right: 0;
}
.soc__link a:hover {
	color: #ffa500;
}
.soc__link a:active {
	color: #b33030;
}
.soc__link a:visited {
	color: #f44336;
}

/* --- tab --------------------------------------------- */
.abs-nav {
  margin-bottom: 10px;
}
.abs-link {
	margin: 1px;
	color: #333333;
	background-color: rgba(255, 153, 0, 0.25);
	border-radius: 3px;
	padding: 2px;
	text-decoration: none;
	box-shadow: 0 0 5px rgba(255, 59, 0, 0.5);
}
.abs-link:hover {
	background-color: #ff8d00;
	color: #fff;
}
.hidden {
  	display: none;
}
#one {
  	display: block;
}

.tab div:target {
  	display: block;
}

div[id*=_]:target ~ #one {
  	display: none;
}


/* --- auth -------------------------------------------- */
.auth {
	margin: 20px auto 10px;
	color: #333;
}
.auth__form {
    text-align: center;
    padding: 20px; 
    border: 1px solid #ffa500;
    border-radius: 5px;
    background-color: #fff4e5;
    box-shadow: 0 0 5px rgba(255, 59, 0, 0.5);
    width: 250px;
    margin: 0 auto;
}
.auth__form div:not(:last-child) {
	margin-bottom: 10px;
}
.login, .pswd {
	position: relative;
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
.pswd__label, .login__label {
	position: absolute;
	left: 0px;
	font-weight: bold;
}
.login__input, .pswd__input {
	position: absolute;
    right: 0px;
    border-radius: 3px;
    border: 1px solid orange;
}
.submit {
	position: relative;
    height: 27px;
    width: 92px;
    margin: 0 auto;
}
.submit__btn {
    position: absolute;
    padding: 5px;
    width: 96px;
    border: 1px solid #ffa500;
    border-radius: 3px;
    background-color: #ffd588;
    color: #333;
    left: 0px;
}
.submit__btn:hover {
	cursor: pointer;
    background-color: #ff8d00;
    color: #fff;
}
.submit__btn:active {
	cursor: pointer;
	box-shadow: 0 0 5px rgba(255, 59, 0, 0.5);
	font-size: 12px;
	

}

